*{
    text-align: center;
}
header {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

a{
    color: aquamarine;
    font-size: 16px;
}