*{
    text-align: center;
}
header {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}

h2{
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

a{
    color: aquamarine;
    font-size: 16px;
}
p{
    font-family: verdana;
    font-size: 21px;
    color: gray;
}
body {
    background-color: black;
}

.copy{
    text-align: right;
}
.phone{
    padding-top: 20px;
}